.cart-wrapper {
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 200;

  h1 {
    font-weight: 900;
  }

  h2 {
    font-weight: 600;
    text-align: left;
  }

  input[type="radio"] {
    @include adaptiv-value("width", 12, 5, 0);
    @include adaptiv-value("height", 12, 5, 0);
  }
  .cart {
    position: relative;
    max-width: 70%;
    max-height: 90%;
    background-color: $addColorBg;
    @include adaptiv-value("border-radius", 20, 5, 0);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
    color: black;
    font-family: "Cormorant Infant", serif;
    transition: transform 1s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    overflow-y: scroll;
    @include adaptiv-value("padding-top", 10, 5, 0);
    @include adaptiv-value("padding-left", 15, 5, 0);
    @include adaptiv-value("padding-bottom", 20, 5, 0);
    @include adaptiv-value("padding-right", 10, 5, 0);

    @include adaptiv-value("font-size", 20, 8, 0);

    @media (max-width: 576px) {
      max-width: 90%;
    }

    div {
      @include adaptiv-value("margin-bottom", 5, 1, 0);
    }

    // .cart__product-item
    &__product-item {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr 0.5fr;
      @include adaptiv-value("gap", 5, 1, 0);
      > div {
        @include adaptiv-value("padding", 10, 2, 0);
        background: rgb(255, 224, 224);
      }
    }
    // .cart__img-product
    &__img-product {
      display: flex;
      justify-content: start;

      img {
        @include adaptiv-value("margin-right", 10, 2, 0);
        width: 30%;
      }
    }

    // .cart__count-product
    &__count-product {
      input {
        @include adaptiv-value("font-size", 20, 10, 0);
        text-align: center;
        width: 30px;
        @include adaptiv-value("width", 50, 25, 0);
        @include adaptiv-value("height", 25, 10, 0);
      }
    }

    // .cart__delete-product
    &__delete-product {
      .delete-product-button {
        img {
          min-width: 8px;
          max-width: 40%;
        }
      }
    }

    // .cart__total
    &__total {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      text-align: center;
      align-items: center;
      font-weight: 700;
    }

    // .cart__pay-wrapper
    &__pay-wrapper {
      @include adaptiv-value("padding-bottom", 30, 2, 0);
    }

    &__pay div {
      text-align: left;
    }

    // .cart__delivery-wrapper
    &__delivery-wrapper {
      @include adaptiv-value("padding-bottom", 30, 2, 0);
    }

    // .cart__delivery
    &__delivery {
      text-align: left;
    }

    &__delivery-textarea textarea {
      width: 70%;
      @include adaptiv-value("font-size", 20, 8, 0);

      @include adaptiv-value("padding-top", 10, 5, 0);
      @include adaptiv-value("padding-left", 20, 5, 0);
      @include adaptiv-value("padding-bottom", 10, 5, 0);
      @include adaptiv-value("padding-right", 20, 5, 0);

      border-radius: 6px;
      resize: none;
    }

    // .cart__tel
    &__tel {
      display: flex;
      flex-direction: column;
      font-weight: 900;
      input {
        @include adaptiv-value("font-size", 20, 8, 0);
        @include adaptiv-value("width", 200, 60, 0);
        @include adaptiv-value("height", 30, 15, 0);
        text-align: center;
        border: #660d57 solid 1px;
      }
    }

    // .cart__button
    &__button {
      font-family: "Cormorant Infant", serif;
      @include adaptiv-value("font-size", 20, 8, 0);
      font-weight: 900;
      margin: 0.8rem auto;
      background-color: rgb(250, 185, 185);
      transition: all ease 0.2s;
      color: #9a1b8b;
      border-radius: 20px;
      @include adaptiv-value("padding-bottom", 8, 4, 0);
      @include adaptiv-value("padding-top", 8, 4, 0);
      @include adaptiv-value("padding-right", 16, 8, 0);
      @include adaptiv-value("padding-left", 16, 6, 0);
    }

    &__button:hover {
      cursor: pointer;
      background: rgb(248, 131, 131);
      color: #660d57;
    }
  }

  .close {
    position: sticky;
  }
}
