.product-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
}
.product {
  @include adaptiv-value("padding", 6, 3, 0);
  @include adaptiv-value("border-radius", 6, 3, 0);
  display: flex;
  width: 70%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  background-color: $addColorBg;
  position: relative;

  @media (max-width: 576px) {
    width: 90%;
  }

  /* ====================================================================== */

  // Стилі для слайдера

  // .product__slider-wrapper
  &__slider-wrapper {
    width: 60%;
  }

  /* ====================================================================== */

  // Головний слайдер

  // .product__slider
  &__slider {
    @include adaptiv-value("padding-bottom", 3, 1, 0);

    .slick-arrow {
      position: absolute;
      top: 50%;
      @include adaptiv-value("margin-top", -40, -15, 0);
      z-index: 10;
      font-size: 0;
      @include adaptiv-value("width", 30, 10, 0);
      @include adaptiv-value("height", 30, 10, 0);
    }
    .slick-prev {
      left: 0;
      background: url("../image/icon/arrow_left.svg") 0 0 /100% no-repeat;
    }
    .slick-next {
      right: 0;
      background: url("../image/icon/arrow_right.svg") 0 0 /100% no-repeat;
    }
  }

  // .product__slider-item
  &__slider-item {
    width: 100%;
    @include adaptiv-value("height", 500, 200, 0);
    overflow: hidden;

    @media (max-width: 576px) {
      height: 40%;
    }
  }

  // .product__slider-img
  &__slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  /* ====================================================================== */

  // Слайдер нижній

  // .product__slider-nav
  &__slider-nav {
  }

  // .product__slider-nav-item
  &__slider-nav-item {
    @include adaptiv-value("height", 100, 20, 0);
    overflow: hidden;
    @include adaptiv-value("margin-right", 3, 1, 0);
  }

  // .product__slider-nav-img
  &__slider-nav-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  // .product__description-wrapper
  &__description-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  /* ====================================================================== */
  // Стилі для розділу "Опис товару"

  // .product__description
  &__description {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    div {
      @include adaptiv-value("margin-bottom", 20, 10, 0);
    }
  }

  // .product__title
  &__title {
    @include adaptiv-value("font-size", 32, 12, 0);
    font-weight: 900;
  }

  // .product__text
  &__text {
    @include adaptiv-value("font-size", 24, 10, 0);
  }

  // .product__price
  &__price {
    @include adaptiv-value("font-size", 24, 10, 0);
  }

  // .product__button
  &__button {
    text-align: center;
    margin: 0 auto;
    font-weight: 900;
    @include adaptiv-value("font-size", 24, 10, 0);
    @include adaptiv-value("padding-top", 4, 2, 0);
    @include adaptiv-value("padding-bottom", 6, 2, 0);
    @include adaptiv-value("padding-left", 20, 8, 0);
    @include adaptiv-value("padding-right", 20, 8, 0);
    background-color: rgb(250, 215, 215);
    transition: all ease 0.2s;
    color: #9a1b8b;
    @include adaptiv-value("border-radius", 20, 10, 0);
  }
  &__button:hover {
    cursor: pointer;
    background: rgb(248, 131, 131);
    color: #660d57;
  }
}
