/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
/* ========================================================================================================================== */
@media (min-width: 1920px) {
  .header .cart__icon-img {
    width: 40px !important;
    height: 40px !important;
  }
  .header__wrapper {
    font-size: 2rem !important;
  }
  .nav-menu__title {
    font-size: 2rem !important;
  }
  .nav-menu__img img {
    width: 90px !important;
  }
  .footer {
    font-size: 1.8rem !important;
  }
  .footer__social img {
    width: 50px !important;
  }
  .footer__for-me {
    font-size: 2.5rem !important;
  }
  .slider-wrapper .slider .slick-arrow {
    width: 40px !important;
    height: 40px !important;
  }
  .slider-wrapper .slider__item {
    height: 600px !important;
  }
  .product-card__labels {
    top: 10px !important;
    right: 10px !important;
  }
  .product-card__labels .label {
    width: 50px !important;
    height: 50px !important;
    font-size: 1rem !important;
  }
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  justify-self: flex-end;
  align-self: flex-end;
}

.close img {
  width: calc( 5px + 10 * ((100vw - 320px) /960));
  height: calc( 5px + 10 * ((100vw - 320px) /960));
  transition: all 0.4s ease;
}

.close img:hover {
  transform: rotate(45deg);
  cursor: pointer;
}

.wrapper {
  padding-top: calc( 10px + 20 * ((100vw - 320px) /960));
}

.wrapper h1 {
  text-align: center;
  font-weight: 900;
  font-size: calc( 12px + 12 * ((100vw - 320px) /960));
  margin-bottom: calc( 12px + 12 * ((100vw - 320px) /960));
}

.body {
  display: flex;
  flex-direction: row;
  font-size: calc( 8px + 10 * ((100vw - 320px) /960));
}

.left-sidebar {
  flex: 0 0 20%;
}

.left-sidebar ul li {
  margin-bottom: calc( 5px + 5 * ((100vw - 320px) /960));
}

.left-sidebar ul li a:hover {
  cursor: pointer;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: calc( 5px + 5 * ((100vw - 320px) /960));
}

.content {
  flex: 0 0 80%;
}

.content__change-my-profile div {
  margin-bottom: calc( 5px + 5 * ((100vw - 320px) /960));
}

.content__change-my-profile input {
  font-size: calc( 10px + 5 * ((100vw - 320px) /960));
  width: calc( 100px + 100 * ((100vw - 320px) /960));
  text-align: center;
  border: #660d57 solid 1px;
}

.content__change-my-profile button[type="submit"] {
  font-family: "Cormorant Infant", serif;
  font-size: calc( 10px + 10 * ((100vw - 320px) /960));
  font-weight: 900;
  background-color: #fab9b9;
  transition: all ease 0.2s;
  color: #9a1b8b;
  border-radius: 20px;
  margin: 10px auto;
  padding-bottom: calc( 4px + 1 * ((100vw - 320px) /960));
  padding-top: calc( 4px + 1 * ((100vw - 320px) /960));
  padding-right: calc( 20px + 20 * ((100vw - 320px) /960));
  padding-left: calc( 20px + 20 * ((100vw - 320px) /960));
}

.content__change-my-profile button[type="submit"]:hover {
  cursor: pointer;
  background: #f88383;
  color: #660d57;
}

.change-my-profile label {
  margin-right: 1rem;
}

.exit {
  font-family: "Cormorant Infant", serif;
  font-size: calc( 10px + 10 * ((100vw - 320px) /960));
  font-weight: 900;
  background-color: #fab9b9;
  transition: all ease 0.2s;
  color: #9a1b8b;
  border-radius: 20px;
  margin: 10px auto;
  padding-bottom: calc( 4px + 1 * ((100vw - 320px) /960));
  padding-top: calc( 4px + 1 * ((100vw - 320px) /960));
  padding-right: calc( 20px + 20 * ((100vw - 320px) /960));
  padding-left: calc( 20px + 20 * ((100vw - 320px) /960));
}

.exit:hover {
  cursor: pointer;
  background: #f88383;
  color: #660d57;
}
